<main>
  <div class="container">
    <div class="card" id="card" id="{{ peliculaAleatoria?.id }}">
      <img class="profile-img" id="profile-img" src="{{ peliculaAleatoria?.portada }}" alt="Perfil">
      <h2 class="titulo">{{ peliculaAleatoria?.titulo }}</h2>
      <div class="bio">
        <p class="synopsis">{{ peliculaAleatoria?.sinopsis }}</p>
      </div>
      <div class="actions">
        <button class="dislike" (click)="EliminarDeLaLista()">👎</button>
        <button class="like" id="like" (click)="anadirALaLista()">👍</button>
      </div>
    </div>
  </div>
</main>

