<main>
  <div id="Pelicula-Descripcion">
    <img src="/img/Aspa.png" alt="" id="CarteleraPerfil">
    <section id="Informacion-Pelicula">
      <h1 id="Nombre-Pelicula">Lorem ipsum dolor sit, amet.</h1>
      <p id="Descripcion">
        Lorem ipsum dolor sit amet consectetur adipiscing elit aliquet faucibus tristique ultricies fringilla lacus, facilisi habitasse eget lacinia laoreet dapibus hac pellentesque habitant nec curabitur. Dis lectus ligula congue platea auctor lobortis taciti eros, vestibulum enim curae phasellus proin mollis vitae imperdiet, primis scelerisque venenatis mattis euismod fusce maecenas. Donec hendrerit praesent in suspendisse diam pharetra libero elementum, sapien pellentesque vel curabitur nascetur viverra aptent, dictumst magnis imperdiet nullam orci justo felis.
      </p>
    </section>
    <button id="Añadir">Añadir a la lista</button>
  </div>

  <section id="Mi-Lista" class="ruleta">
    <h3 id="Titulo-Similares">Actores</h3>
    <div id="Ruleta-Similares"></div>
  </section>

  <section id="Recomendaciones" class="ruleta">
    <h3 id="Titulo-Recomendaciones">Recomendaciones</h3>
    <div id="Ruleta-Recomendaciones"></div>
  </section>
</main>
