<main>
  <div id="Pelicula-Descripcion">
    <img [src]="pelicula?.portada" alt="{{ pelicula?.titulo }}" id="CarteleraPerfil">
    <section id="Informacion-Pelicula">
      <h1 id="Nombre-Pelicula">
          {{ pelicula?.titulo }}
      </h1>
      <p id="Descripcion">
        {{ pelicula?.sinopsis }}
      </p>
    </section>
    <button (click)="anadirOEliminarDeLaLista()">Añadir/Eliminar a la lista</button>

    <div *ngIf="mensaje" class="mensaje-estado">
      {{ mensaje }}
    </div>

  </div>

  <section id="Mi-Lista" class="ruleta">
    <h3 id="Titulo-Similares">Actores</h3>
    <div id="Ruleta-Similares">
      <div *ngFor="let actor of actores" class="imagen-ajustes">
        <div class="contenedor-imagen">
          <img [src]="actor.foto" [alt]="actor.nombre" />
          <div class="hover-sinopsis">
            <p>{{ actor.nombre }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="Recomendaciones" class="ruleta">
    <h3 id="Titulo-Recomendaciones">Recomendaciones</h3>
    <div id="Ruleta-Recomendaciones"></div>
  </section>
</main>
