<header class="header">

  <div class="menu-container">
    <button class="bubble-button">☰</button>
    <div class="menu" id="menu">
      <a routerLink="/">Inicio</a>
      <a routerLink="/peliclas-series">Películas/Series</a>
      <a routerLink="/blog" >Blog</a>
      <a routerLink="/descubrir" >Descubrir</a>
      <a routerLink="/mi-perfil" >Mi Perfil</a>
    </div>
  </div>

  <a href="" class="logo">
    <img ngSrc="images/Logo_ChatGPT.svg" alt="Logo MovieMatch" class="header-logo" height="64" width="64">
  </a>


  <nav class="nav">
    <ul class="nav-list">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/peliculas-series">Películas/Series</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Descubrir</a></li>
      <li><a href="">Mi Perfil</a></li>
    </ul>
  </nav>
</header>

