<div class="bloque">
  <section class="gallery-container">
    <ul class="gallery">
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
      <app-portada></app-portada>
    </ul>
  </section>
</div>
