* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0; /* Asegura que no haya margen en el body */
}

.gallery-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  white-space: nowrap; /* Evita saltos de línea */
  margin-left: 0; /* Asegura que no haya margen a la izquierda */
  padding-left: 0; /* Asegura que no haya padding a la izquierda */
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
}

.gallery {
  display: flex; /* Asegura que las imágenes estén en una sola fila */
  gap: 20px;
  list-style: none;
  padding: 10px 10px 10px 0; /* Elimina padding izquierdo */
  width: max-content; /* El contenido ocupa solo el espacio necesario */
  min-width: 150%;
}

.gallery li {
  flex: 0 0 auto; /* Mantiene el tamaño de los elementos */
  scroll-snap-align: start;
}

.gallery-container::-webkit-scrollbar {
  height: 8px; /* Hace que la barra sea visible */
}

.gallery-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
