<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template con Imagen y Texto</title>
    <link rel="stylesheet" href="../styles/blog.css">
</head>
<body>

<div class="container">
    <img src="../img/Aspa.png" alt="Descripción de la imagen" class="image">
    <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel mauris ac risus
        tempor tristique. Nullam id lorem id est malesuada gravida. Suspendisse potenti.
    </p>
</div>

</body>
</html>
