<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovieMatch</title>
    <link rel="stylesheet" href="../styles/header.css">
    <meta name="description" content="Red social relacionada con el cine.">
</head>

<body>
    <header class="header">
        <a href="#"><img src="../img/Logo_ChatGPT.png" alt="Logo CineMatch" class="Imagen"></a>
        <nav class="navegador">
           <ul>
                <li class="items"><a href="#" class="list-item">Inicio</a></li>
                <li class="items"><a href="#" class="list-item">Peliculas</a></li>
                <li class="items"><a href="#" class="list-item">Series</a></li>
                <li class="items"><a href="#" class="list-item">Descubrir</a></li>
                <li class="items"><a href="#" class="list-item">Mi Perfil</a></li>
           </ul>
        </nav>
    </header>
</body>

</html>