<link rel="stylesheet" href="/styles/header.css">
<header class="header">
    <a href="/index.html" class="logo">
        <img src="../img/Logo_ChatGPT.png" alt="Logo MovieMatch" class="header-logo">
    </a>
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/Paginas/Peliculas-Series.html">Películas</a></li>
            <li><a href="#">Series</a></li>
            <li><a href="#">Descubrir</a></li>
            <li><a href="#">Mi Perfil</a></li>
        </ul>
    </nav>
</header>
