<head>
    <script defer src="/js/menu.js"></script>
    <title></title>
</head>
<link rel="stylesheet" href="/styles/header.css">
<header class="header">

    <div class="menu-container">
        <button class="bubble-button" onclick="toggleMenu()">☰</button>
        <div class="menu" id="menu">
            <a href="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/index.html">Inicio</a>
            <a href="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/Paginas/Union-PeliculasSeries.html">Películas/Series</a>
            <a href="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/Paginas/Union-Blog.html">Blog</a>
            <a href="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/Paginas/Union-Descubrir.html">Descubrir</a>
            <a href="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/Paginas/Union-Usuario.html">Mi Perfil</a>
        </div>
    </div>

    <a href="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/index.html" class="logo">
        <img src="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/img/Logo_ChatGPT.png" alt="Logo MovieMatch" class="header-logo">
    </a>


    <nav class="nav">
        <ul class="nav-list">
            <li><a href="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/index.html">Inicio</a></li>
            <li><a href="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/Paginas/Union-PeliculasSeries.html">Películas/Series</a></li>
            <li><a href="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/Paginas/Union-Blog.html">Blog</a></li>
            <li><a href="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/Paginas/Union-Descubrir.html">Descubrir</a></li>
            <li><a href="/PWM_G43_4_Carlos_Gabriel_Dario-Sprint2/Paginas/Union-Usuario.html">Mi Perfil</a></li>
        </ul>
    </nav>
</header>

