<link rel="stylesheet" href="/styles/header.css">
<header class="header">
    <div class="logo">
    <a href="/PWM_G43_4_Carlos_Gabriel_Dario/index.html">
        <img src="/PWM_G43_4_Carlos_Gabriel_Dario/img/Logo_ChatGPT.png" alt="Logo MovieMatch" class="header-logo">
    </a>
    </div>
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="/PWM_G43_4_Carlos_Gabriel_Dario/index.html">Inicio</a></li>
            <li><a href="/PWM_G43_4_Carlos_Gabriel_Dario/Paginas/Peliculas-Series.html">Películas</a></li>
            <li><a href="/PWM_G43_4_Carlos_Gabriel_Dario/Paginas/Blog.html">Blog</a></li>
            <li><a href="/PWM_G43_4_Carlos_Gabriel_Dario/Paginas/Descubrir.html">Descubrir</a></li>
            <li><a href="/PWM_G43_4_Carlos_Gabriel_Dario/Paginas/Union-Usuario.html">Mi Perfil</a></li>
        </ul>
    </nav>
</header>
