<link rel="stylesheet" href="/PWM_G43_4_Carlos_Gabriel_Dario/styles/Label.css">
<details class="dropdown">
    <summary>Lorem ipsum</summary>
    <ul class="dropdown-menu">
        <li><label><input type="checkbox" value="opcion1"> Lorem ipsum</label></li>
        <li><label><input type="checkbox" value="opcion2"> Lorem ipsum</label></li>
        <li><label><input type="checkbox" value="opcion3"> Lorem ipsum</label></li>
        <li><label><input type="checkbox" value="opcion4"> Lorem ipsum</label></li>
        <li><label><input type="checkbox" value="opcion5"> Lorem ipsum</label></li>
        <li><label><input type="checkbox" value="opcion6"> Lorem ipsum</label></li>
        <li><label><input type="checkbox" value="opcion7"> Lorem ipsum</label></li>
        <li><label><input type="checkbox" value="opcion8"> Lorem ipsum</label></li>
    </ul>
</details>

