<link rel="stylesheet" href="/PWM_G43_4_Carlos_Gabriel_Dario/styles/Login.css">
<body>
<div class="lorem">
  <p>Lorem ipsum.</p>
</div>
<div class="login-bar">
  <form action="#" method="post">
    <input type="text" name="usuario" placeholder="Usuario" required>
    <input type="password" name="clave" placeholder="Contraseña" required>
    <button type="submit">Ingresar</button>
    <a href="/PWM_G43_4_Carlos_Gabriel_Dario/Paginas/Union-Register.html" id="link-Registro">
      <p id="TengoCuenta">¿Aún no estás registrado?<br>¡Registrate!</p>
    </a>
  </form>
</div>
</body>

