<link rel="stylesheet" href="/styles/NuevoHilo.css">
<body>
    <div class="contenedor">
        <div class="subcontenedor">
            <section class="Elemento">
                <h2>
                    Nombre Del Hilo
                </h2>
                <label for="Nombre"></label>
                <textarea id="Nombre" name="Nombre" placeholder="Introduzca el nombre del hilo..."></textarea>
            </section>

            <section class="Elemento">
                <h2>
                    Descripción del hilo
                </h2>
                <label for="Descripcion-hilo"></label>
                <textarea id="Descripcion-hilo" name="Nombre" placeholder="Introduzca la descripción del hilo..."></textarea>
            </section>

            <section id="Confirmacion">
                <button>Crear Hilo</button>
            </section>
        </div>
    </div>
</body>


