<div class="movie-container">
    <a href="www.ulpgc.es">
        <img src="../img/Aspa.png" alt="Imagen de la pelicula">
        <div class="overlay">
            <p class="synopsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id enim sapien. Ut pulvinar in dui et luctus. Nulla facilisi. Aenean laoreet non nisi aliquam lobortis. Donec blandit facilisis velit nec aliquam. Nulla molestie egestas est interdum fringilla. Quisque consequat facilisis nibh non luctus. Nulla ultrices, sem vitae condimentum laoreet, enim diam feugiat orci, vitae congue tortor tortor id sapien. Nam posuere lorem at porta elementum.</p>
        </div>
    </a>
</div>
