<link rel="stylesheet" href="/PWM_G43_4_Carlos_Gabriel_Dario/styles/register.css">

<body>
<div class="lorem">
  <p>Lorem ipsum dolor.</p>
</div>
<div class="login-bar">
  <form action="#" method="post">
    <input type="email" name="correo" placeholder="Correo electrónico" required>
    <input type="usuario" name="nombre" placeholder="Nombre de ususario" required>
    <input type="password" name="clave" placeholder="Contraseña" required>
    <input type="password" name="confirmar_clave" placeholder="Repite la contraseña" required>
    <button type="submit">Ingresar</button>
  </form>
</div>
</body>

