<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="lorem">
    <p>Register</p>
  </div>

  <div class="login-bar">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-input
        type="email"
        formControlName="email"
        placeholder="Correo electrónico"
        required
        fill="outline"
        class="custom-input">
      </ion-input>

      <ion-input
        type="text"
        formControlName="nombre"
        placeholder="Nombre"
        required
        fill="outline"
        class="custom-input">
      </ion-input>

      <ion-input
        type="text"
        formControlName="apellidos"
        placeholder="Apellidos"
        required
        fill="outline"
        class="custom-input">
      </ion-input>

      <ion-input
        type="text"
        formControlName="username"
        placeholder="Nombre de usuario"
        required
        fill="outline"
        class="custom-input">
      </ion-input>

      <ion-input
        type="password"
        formControlName="password"
        placeholder="Contraseña"
        required
        fill="outline"
        class="custom-input">
      </ion-input>

      <!-- Input para seleccionar imagen -->
      <ion-item>
        <ion-label>Foto de perfil</ion-label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      </ion-item>

      <ion-button>Ingresar</ion-button>


      <div class="registro-link">
        <a routerLink="/login" id="link-Registro">
          <p id="TengoCuenta">¿Ya estás registrado?<br>¡Inicia sesión!</p>
        </a>
      </div>
    </form>
  </div>

</ion-content>
