<main>
  <h1 id="Titulo-Series-Peliculas-Series">Catálogo de Películas/Series</h1>

  <div id="buscador-contenedor">
    <app-buscador></app-buscador>
  </div>

  <div class="Ajustes">
    <!-- Lado izquierdo (filtros) -->
    <div id="template-ajustes">
      <div id="template-filtros"></div>
      <div id="contenedor_ajustes">
        <app-ajustes></app-ajustes>
      </div>
    </div>

    <!-- Lado derecho (galería + paginación) -->
    <div id="bloque">
      <!-- Galería -->
      <div class="imagen-ajustes-container" id="contenedor-peliculas">
        <div *ngFor="let serie of series" class="imagen-ajustes">
          <div class="contenedor-imagen">
            <a [routerLink]="['/descripcion-pelicula', serie.id]">
              <img [src]="serie.portada" [alt]="serie.nombre" />
              <div class="hover-sinopsis">
                <p>{{ serie.sinopsis }}</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Paginación -->
      <div id="boton-pagina">
        <a routerLink="/peliculas-series" class="boton">&laquo; Anterior</a>
        <a routerLink="/peliculas-series" class="boton">1</a>
        <a routerLink="/peliculas-series" class="boton">2</a>
        <a routerLink="/peliculas-series" class="boton">3</a>
        <a routerLink="/peliculas-series" class="boton">Siguiente &raquo;</a>
      </div>
    </div>
  </div>
</main>
