<h1 class="titulo">Reseñas de películas y series.</h1>

<div id="buscador-contenedor">
<app-buscador id="barra-busqueda"/>
</div>

<div class="principal">
  <div class="bloque">
    <div class="hilos" id="hilos-contenedor">
      <!-- Los hilos se generan con *ngFor -->
      <div *ngFor="let hilo of hilosAMostrar">
          <app-bloque-blog [hilo]="hilo" [tipo]="tipo" (hijoSeleccionado)="onIdSelected($event)" />
      </div>
    </div>

    <div id="boton-pagina">
      <a routerLink="/blog" class="boton">Anterior</a>
      <a routerLink="/blog" class="boton">1</a>
      <a routerLink="/blog" class="boton">2</a>
      <a routerLink="/blog" class="boton">3</a>
      <a routerLink="/blog" class="boton">Siguiente</a>
    </div>
  </div>

  <div class="Caja" id="template-filtros">
    <app-label/>
    <!-- Aquí se puede cargar otro componente o filtro -->
  </div>
</div>

<section id="placeholder">
    <!-- Cambiar entre los componentes -->
    <app-add-mensaje *ngIf="!mostrarCrearHilo"/>
    <app-crear-hilo *ngIf="mostrarCrearHilo" />
</section>
