<details class="dropdown">
  <summary>Categorías</summary>
  <ul class="dropdown-menu">
    <li><label><input type="checkbox" value="opcion1"> Acción</label></li>
    <li><label><input type="checkbox" value="opcion2"> Aventura</label></li>
    <li><label><input type="checkbox" value="opcion3"> Romance</label></li>
    <li><label><input type="checkbox" value="opcion4"> Ciencia ficción</label></li>
    <li><label><input type="checkbox" value="opcion5"> Documentales</label></li>
    <li><label><input type="checkbox" value="opcion6"> Drama</label></li>
    <li><label><input type="checkbox" value="opcion7"> Fantasía</label></li>
    <li><label><input type="checkbox" value="opcion8"> Terror</label></li>
  </ul>
</details>
