@import "Font.css";


.rectangulo {
    display: flex;
    flex-direction: column;  /* Coloca los elementos en columna */
    border: 2px solid black; /* Borde para crear el rectángulo */
    border-radius: 8px;
    padding: 10px;
    height: 100%;
    width: 100%;

}

.btn-exterior {
    margin-top: auto;
    padding: 8px 15px;
    background-color: #ffffff;
    color: black;
    border: black solid 1px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Hace que el botón ocupe todo el ancho */
}