@import "Font.css";
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.footer {
    background-color: #888888;
    color: white;
    text-align: center;
    padding: 20px 0;
}

 .footer .links  a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}


.footer .copyright {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.8;
}
