@import url('Font.css');

*{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    max-width: 100%;
    max-height: 50%;
    display: block;
    margin: auto;
    height: 30px;
}