* {
    padding: 0;
    margin: 0;
    font-family: "Leto", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea todo a la izquierda */
    padding-left: 20px; /* Espacio desde el borde izquierdo */
}
.Ajustes {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Separa los elementos */
}

.Ajustes_label{
    display: flex;
    flex-direction: row; /* Elementos en línea */
    align-items: center; /* Asegura que tengan la misma altura */
    gap: 10px; /* Espacio entre los elementos */
}

#template-label, #template-ajustes {
    width: auto;
    max-width: 300px;
    height: auto;
}

#template-label {
    display: flex;
    flex-direction: row;
    width: 140px;
    position: absolute;
    top: 17%;
    left: 1.5%;
}

/* Aquí alineamos solo las imágenes a la derecha */
.imagen-ajustes-container {
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center; /* Centra las imágenes verticalmente */
    position: absolute;
    left: 50%; /* Mueve el contenedor al centro */
    top: 50%; /* Mueve el contenedor a la mitad de la pantalla */
    transform: translate(-50%, -50%); /* Asegura que quede perfectamente centrado */
    gap: 10px; /* Espacio entre imágenes */
}

.imagen-ajustes {
    width: 50px;
    height: auto;
    border: black solid 1px;
    object-fit: cover;
}
