@import url("../styles/Font.css");

* {
    padding: 0;
    margin: 0;
    font-family: "Leto", sans-serif;
    box-sizing: border-box;
}

main {
    text-align: center;
    object-position: center;
}

#Usuario-Descripcion {
    display: flex;
    flex-wrap: nowrap; /* Evita que los elementos se apilen en pantallas pequeñas */
    width: auto;
    height: auto;
    margin: 2em auto;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

#FotoPerfil {
    height: auto;
    width: auto;
    border: 1px solid black;
    margin: 2em auto 2em 15%;
    transition: height 1s ease-out;
    flex-shrink: 0; /* Evita que la imagen se reduzca demasiado */
}

#Informacion-Usuario {
    flex: 1;
    min-width: 300px;
    max-width: 60%;
    text-align: left;
    margin: 2em;
}

#Nombre-Usuario {
    font-size: 3em;
    padding-bottom: 1em;
}

#Descripcion {
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    white-space: normal;
}

.ruleta {
    margin: 4em;
}

#CerrarSesion {
    margin-bottom: 3em;
    height: 3em;
    width: 10em;
    font-size: 1em;
}

@media (max-width: 1000px) {
    #FotoPerfil {
        height: 20vw;
    }

    #Nombre-Usuario {
        font-size: 5vw;
        margin: auto;
        display: inline;
    }

    #Descripcion {
        margin-right: 2em;
    }
}
