* {
    padding: 0;
    margin: 0;
    font-family: "Leto", sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    text-align: center;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Contenedor-Login {
    width: 30%;
    height: auto;
    border: 1px solid black;
    margin: 5em auto;
}

footer {
    color: white;
    text-align: center;
}


/*formulario*/
.login-bar {
    background: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-bar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-bar input {
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.login-bar button {
    margin-top: 10px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #ffffff;
    cursor: pointer;
    width: 220px;
}

#link-Registro {
    padding: 10px;
}