* {
    padding: 0;
    margin: 0;
}

body {
    text-align: justify-all;
}

.Bloque-Blog {
    margin: 5em;
    display: flex;
}

#blog-container {
    width: 70%;
}

#filter-container {
    width: 30%;
}

#rotativa-container {
    width: 100%;
}