@import url("/styles/Font.css");

* {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}


#Titulo-Series-Peliculas-Series{
    font-size: 20px;
    margin: 3em auto 1.5em 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    background: linear-gradient(45deg, #040000, #f4f4f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Buscador-Peliculas {
    margin: 20px;
}

.Ajustes {
    display: flex;
    height: auto;
    width: auto;
    margin: 2em;
}

#bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 2em;
}

#template-ajustes {
    display: flex;
    width: 20%;
    height: auto;
    margin: 2em 2em;
}

.imagen-ajustes-container {
    width: 100%;
    margin: 2em 2em 2em 0;
    display: flex;
    justify-content: space-between;
}

#boton-pagina {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* Estilo de los botones */
.boton {
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
    color: black;
}

.boton:hover {
    background-color: #595555;
}


