<div class="contenedor">
    <div class="subcontenedor">
        <form (ngSubmit)="crearHilo()">
            <section class="Elemento">
                <h2>
                    Nombre Del Hilo
                </h2>
                <label for="Nombre"></label>
                <textarea id="Nombre" name="Nombre" placeholder="Introduzca el nombre del hilo..." [(ngModel)]="newThread.titulo"></textarea>
            </section>

            <section class="Elemento">
                <h2>
                    Descripción del hilo
                </h2>
                <label for="Descripcion-hilo"></label>
                <textarea id="Descripcion-hilo" name="Nombre" placeholder="Introduzca la descripción del hilo..." [(ngModel)]="newThread.contenido"></textarea>
            </section>

            <section id="Confirmacion">
                <button type="submit">Crear Hilo</button>
            </section>
        </form>
    </div>
</div>
