
.contenedor {
    height: auto;
    border: 1px solid black;
}

.subcontenedor {
    margin: 2em 2em;
}

.Elemento {
    text-align: left;
}

#Nombre {
    max-width: 80%;
    min-width: 80%;
    max-height: 2em;
    min-height: 2em;
}

#Descripcion-hilo {
    min-width: 100%;
    max-width: 100%;
    min-height: 10em;
    max-height: 10em;
}

#Confirmacion {
    text-align: center;
    margin-top: 2em;
}

#Confirmacion button {
    border-radius: 5px;
    border-style: wave;
}
