<h1 class="titulos">RECOMENDACIONES</h1>
<div class="recomendaciones-contenedor" id="contenedor-recomendaciones">
  <div class="elemento-recomendacion">
    <div class="elemento-recomendacion" *ngFor="let serie of series">
      <app-portada [item]="serie"></app-portada>
    </div>
      <div class="elementos">
      <div class="centrado"></div>
      <div class="centrado"></div>
      <div class="centrado">
        <a href ="">
          <button id="boton-recomendaciones">¡VER MAS!</button>
        </a>
      </div>
    </div>
    <div class="centrado"></div>
  </div>
</div>
