<body>
<div class="lorem">
  <p>Register</p>
</div>
<div class="login-bar">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="email" formControlName="email" placeholder="Correo electrónico" required />
    <input type="text" formControlName="username" placeholder="Nombre de usuario" required />
    <input type="password" formControlName="password" placeholder="Contraseña" required />

    <button type="submit">Ingresar</button>

    <a routerLink="/login" id="link-Registro">
      <p id="TengoCuenta">¿Ya estás registrado?<br>¡Inicia sesión!</p>
    </a>
  </form>
</div>
</body>
