<main>
  <div id="Usuario-Descripcion">
    <img src="/images/Aspa.png" alt="Foto de perfil" id="FotoPerfil">
    <section id="Informacion-Usuario">
      <h1><span id="nombre"></span></h1>
      <p id="Descripcion">
        Descripción del usuario. Aquí se mostrará información sobre el usuario y sus intereses cinematográficos.
      </p>
    </section>
  </div>

  <section id="Mi-Lista" class="ruleta">
    <h3 id="Titulo-Similares">Mi lista</h3>
    <app-carrusel/>
  </section>

  <section id="Recomendaciones" class="ruleta">
    <h3 id="Titulo-Recomendaciones">Recomendaciones para ti</h3>
    <app-carrusel/>
  </section>

  <div>
    <button id="cerrar">CERRAR SESIÓN</button>
  </div>
</main>
